html {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
}

#display {
    background-color: #222;
    color: #fff;
    font-size: 2em;
    text-align: right;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
}


.btn {
    background-color: #e0e0e0;
    border: none;
    border-radius: 5px;
    font-size: 1.5em;
    margin: 5px;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 3em;
}

.btn:hover {
    background-color: #d0d0d0;
}

.btn:active {
    background-color: #c0c0c0;
}

.btn.operator {
    background-color: #f9a825;
    color: #fff;
}

.btn.operator:hover {
    background-color: #f57f17;
}

.btn.operator:active {
    background-color: #ef6c00;
}
.o{
    width: 45%;
}
.op {
    width: 19.6%;
    font-size: 1em;
}